<a href="https://colab.research.google.com/github/krishnavikas-7/INFO-5731/blob/main/INFO5731_Assignment_Four.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment Four**

In this assignment, you are required to conduct topic modeling, sentiment analysis based on **the dataset you created from assignment three**.

# **Question 1: Topic Modeling**

(30 points). This question is designed to help you develop a feel for the way topic modeling works, the connection to the human meanings of documents. Based on the dataset from assignment three, write a python program to **identify the top 10 topics in the dataset**. Before answering this question, please review the materials in lesson 8, especially the code for LDA and LSA. The following information should be reported:

(1) Features (top n-gram phrases) used for topic modeling.

(2) Top 10 clusters for topic modeling.

(3) Summarize and describe the topic for each cluster.

In [ ]:
# Write your code here
import pandas as pd
imdb_data=pd.read_csv('/content/sample_data/shangchi_marvel_review.csv')
print(imdb_data.shape)

(500, 3)

In [ ]:
import nltk   #cleaning
imdb_data['clean_text'] = imdb_data['clean_text'].str.replace('[^\w\s]','')  #removal of punctuation
imdb_data['clean_text'] = imdb_data['clean_text'].apply(lambda x: " ".join(x.lower() for x in x.split()))#lower case
from nltk.corpus import stopwords #removal of stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
imdb_data['clean_text'] = imdb_data['clean_text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
words = []   #building document-term matrix
from nltk.tokenize import RegexpTokenizer
from gensim import corpora,models
tokenizer = RegexpTokenizer(r'\w+')
for x in pd.Series(imdb_data['clean_text']):
  a = tokenizer.tokenize(x)
  words.append(a)
dictionary = corpora.Dictionary(words)
corpus = [dictionary.doc2bow(word) for word in words]

In [ ]:
import gensim  #LDA model
model = gensim.models.ldamodel.LdaModel(corpus, num_topics = 10, id2word = dictionary,passes = 20)

In [ ]:
print(model.print_topics(num_topics = 10, num_words = 5))

[(0, '0.016*"marvel" + 0.015*"film" + 0.012*"movie" + 0.009*"good" + 0.008*"like"'), (1, '0.020*"movie" + 0.013*"marvel" + 0.009*"character" + 0.008*"story" + 0.006*"film"'), (2, '0.015*"shangchi" + 0.011*"film" + 0.008*"wenwu" + 0.008*"rings" + 0.006*"ten"'), (3, '0.011*"shangchi" + 0.008*"marvel" + 0.007*"film" + 0.007*"ten" + 0.007*"rings"'), (4, '0.027*"movie" + 0.014*"marvel" + 0.010*"like" + 0.009*"one" + 0.008*"shangchi"'), (5, '0.013*"movie" + 0.013*"film" + 0.012*"marvel" + 0.011*"great" + 0.011*"shangchi"'), (6, '0.009*"film" + 0.006*"one" + 0.006*"marvel" + 0.006*"also" + 0.005*"shangchi"'), (7, '0.019*"film" + 0.011*"movie" + 0.010*"mcu" + 0.008*"action" + 0.007*"marvel"'), (8, '0.009*"movie" + 0.009*"marvel" + 0.006*"well" + 0.006*"characters" + 0.005*"much"'), (9, '0.010*"movie" + 0.007*"story" + 0.006*"good" + 0.005*"watch" + 0.004*"character"')]

# **Question 2: Sentiment Analysis**

(30 points). Sentiment analysis also known as opinion mining is a sub field within Natural Language Processing (NLP) that builds machine learning algorithms to classify a text according to the sentimental polarities of opinions it contains, e.g., positive, negative, neutral. The purpose of this question is to develop a machine learning classifier for sentiment analysis. Based on the dataset from assignment three, write a python program to implement a sentiment classifier and evaluate its performance. Notice: **80% data for training and 20% data for testing**.  

(1) Features used for sentiment classification and explain why you select these features.

(2) Select two of the supervised learning algorithm from scikit-learn library: https://scikit-learn.org/stable/supervised_learning.html#supervised-learning, to build a sentiment classifier respectively. 

(3) Compare the performance over accuracy, precision, recall, and F1 score for the two algorithms you selected. Here is the reference of how to calculate these metrics: https://towardsdatascience.com/accuracy-precision-recall-or-f1-331fb37c5cb9.

In [ ]:
# Write your code here
import pandas as pd
imdb_data=pd.read_csv('/content/sample_data/shangchi_marvel_review.csv')
print(imdb_data.shape)

(500, 3)

In [ ]:
imdb_data.head()

   document_id                                         clean_text Sentiment
0            1  It was an okay movie. Simu Liu is the son of t...  negative
1            2  Disney/Marvel has been applauded for its ethni...  negative
2            3  Shaun (Simu Liu) and Katy (Awkwafina) are park...  negative
3            4  Of course I am just riffing off, teasing and m...  negative
4            5  I was not expecting that, I had visions of a f...  negative

In [ ]:
imdb_data['Sentiment'].value_counts()

negative    262
positive    217
neutral      21
Name: Sentiment, dtype: int64

In [ ]:
import nltk
imdb_data['clean_text'] = imdb_data['clean_text'].str.replace('[^\w\s]','')  #removal of punctuation
imdb_data['clean_text'] = imdb_data['clean_text'].apply(lambda x: " ".join(x.lower() for x in x.split()))#lower case
from nltk.corpus import stopwords #removal of stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
imdb_data['clean_text'] = imdb_data['clean_text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
imdb_data.head()

   document_id                                         clean_text Sentiment
0            1  okay movie simu liu son seemingly immortal mas...  negative
1            2  disneymarvel applauded ethnic diversity superh...  negative
2            3  shaun simu liu katy awkwafina parking valets u...  negative
3            4  course riffing teasing making fun certain thin...  negative
4            5  expecting visions film along lines snake eyes ...  negative

In [ ]:
imdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   document_id  500 non-null    int64
 1   clean_text   500 non-null    object
 2   Sentiment    500 non-null    object
dtypes: int64(1), object(2)
memory usage: 11.8+ KB

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_idf= TfidfVectorizer(ngram_range=(1,2), max_features=1000)
tf_idf.fit(imdb_data['clean_text'])
x_values =  tf_idf.transform(imdb_data['clean_text'])
y_values = imdb_data['Sentiment']


# Split the training data to training and validating data
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(x_values, y_values, test_size = 0.2)

In [ ]:
from sklearn import metrics

def evaluation(y_pred, y_test):
    Accuracy = metrics.accuracy_score(y_pred, y_test)
    Recall = metrics.recall_score(y_pred = y_pred, y_true = y_test, pos_label='positive', average='micro') # micro calculates total true positives, false negatives and false positives
    Precision = metrics.precision_score(y_pred = y_pred, y_true = y_test, pos_label='positive', average='micro') # micro calculates total true positives, false negatives and false positives
    F1 = 2 * (Precision * Recall) / (Precision + Recall) # Formula for F1 Score
    print("Accuracy: ", Accuracy.round(4))
    print("Recall:", Recall.round(4))
    print("Precision:", Precision.round(4))
    print("F-1 score:", F1.round(4))

In [ ]:
from sklearn import naive_bayes
from sklearn.model_selection import cross_val_score, KFold

naive_bayes_implement = naive_bayes.MultinomialNB()

naive_bayes_implement.fit(x_train,y_train)

y_pred_valid = naive_bayes_implement.predict(x_valid)
evaluation(y_pred_valid, y_valid)
print("Cross Validation Score:", cross_val_score(naive_bayes_implement, x_valid, y_valid, cv= KFold(10, shuffle=True, random_state = 22)).mean().round(4))

Accuracy:  0.71
Recall: 0.71
Precision: 0.71
F-1 score: 0.71
Cross Validation Score: 0.55

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1365: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1365: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,

In [ ]:
from sklearn import svm

svm_model = svm.SVC()

svm_model.fit(x_train,y_train)

y_pred_valid = svm_model.predict(x_valid)
evaluation(y_pred_valid, y_valid)
print("Cross Validation Score:", cross_val_score(svm_model, x_valid, y_valid, cv= KFold(10, shuffle=True, random_state = 22)).mean().round(4))

Accuracy:  0.7
Recall: 0.7
Precision: 0.7
F-1 score: 0.7
Cross Validation Score: 0.56

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1365: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1365: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,

# **Question 3: House price prediction**

(40 points). You are required to build a **regression** model to predict the house price with 79 explanatory variables describing (almost) every aspect of residential homes. The purpose of this question is to practice regression analysis, an supervised learning model. The training data, testing data, and data description files can be download here: https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/assignment4-question3-data.zip. Here is an axample for implementation: https://towardsdatascience.com/linear-regression-in-python-predict-the-bay-areas-home-price-5c91c8378878.

In [ ]:
# Write your code here
df_train = pd.read_csv("/content/sample_data/test.csv")
df_test = pd.read_csv("/content/sample_data/train.csv")

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1459 entries, 0 to 1458
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   LotFrontage    1459 non-null   float64
 3   LotArea        1459 non-null   int64
 4   OverallQual    1459 non-null   int64
 5   OverallCond    1459 non-null   int64
 6   YearBuilt      1459 non-null   int64
 7   YearRemodAdd   1459 non-null   int64
 8   MasVnrArea     1459 non-null   float64
 9   BsmtFinSF1     1459 non-null   float64
 10  BsmtFinSF2     1459 non-null   float64
 11  BsmtUnfSF      1459 non-null   float64
 12  TotalBsmtSF    1459 non-null   float64
 13  1stFlrSF       1459 non-null   int64
 14  2ndFlrSF       1459 non-null   int64
 15  LowQualFinSF   1459 non-null   int64
 16  GrLivArea      1459 non-null   int64
 17  BsmtFullBath   1459 non-null   float64
 18  BsmtHalfBath   1459 non-null   float64
 19  FullBath       1459 non-null   int64
 20  HalfBath       1459 non-null   int64
 21  BedroomAbvGr   1459 non-null   int64
 22  KitchenAbvGr   1459 non-null   int64
 23  TotRmsAbvGrd   1459 non-null   int64
 24  Fireplaces     1459 non-null   int64
 25  GarageYrBlt    1459 non-null   float64
 26  GarageCars     1459 non-null   float64
 27  GarageArea     1459 non-null   float64
 28  WoodDeckSF     1459 non-null   int64
 29  OpenPorchSF    1459 non-null   int64
 30  EnclosedPorch  1459 non-null   int64
 31  3SsnPorch      1459 non-null   int64
 32  ScreenPorch    1459 non-null   int64
 33  PoolArea       1459 non-null   int64
 34  MiscVal        1459 non-null   int64
 35  MoSold         1459 non-null   int64
 36  YrSold         1459 non-null   int64
dtypes: float64(11), int64(26)
memory usage: 433.1 KB

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotFrontage    1460 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   MasVnrArea     1460 non-null   float64
 9   BsmtFinSF1     1460 non-null   int64
 10  BsmtFinSF2     1460 non-null   int64
 11  BsmtUnfSF      1460 non-null   int64
 12  TotalBsmtSF    1460 non-null   int64
 13  1stFlrSF       1460 non-null   int64
 14  2ndFlrSF       1460 non-null   int64
 15  LowQualFinSF   1460 non-null   int64
 16  GrLivArea      1460 non-null   int64
 17  BsmtFullBath   1460 non-null   int64
 18  BsmtHalfBath   1460 non-null   int64
 19  FullBath       1460 non-null   int64
 20  HalfBath       1460 non-null   int64
 21  BedroomAbvGr   1460 non-null   int64
 22  KitchenAbvGr   1460 non-null   int64
 23  TotRmsAbvGrd   1460 non-null   int64
 24  Fireplaces     1460 non-null   int64
 25  GarageYrBlt    1460 non-null   float64
 26  GarageCars     1460 non-null   int64
 27  GarageArea     1460 non-null   int64
 28  WoodDeckSF     1460 non-null   int64
 29  OpenPorchSF    1460 non-null   int64
 30  EnclosedPorch  1460 non-null   int64
 31  3SsnPorch      1460 non-null   int64
 32  ScreenPorch    1460 non-null   int64
 33  PoolArea       1460 non-null   int64
 34  MiscVal        1460 non-null   int64
 35  MoSold         1460 non-null   int64
 36  YrSold         1460 non-null   int64
 37  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35)
memory usage: 444.8 KB

In [ ]:
df_train.describe()

                Id   MSSubClass  ...       MoSold       YrSold
count  1459.000000  1459.000000  ...  1459.000000  1459.000000
mean   2190.000000    57.378341  ...     6.104181  2007.769705
std     421.321334    42.746880  ...     2.722432     1.301740
min    1461.000000    20.000000  ...     1.000000  2006.000000
25%    1825.500000    20.000000  ...     4.000000  2007.000000
50%    2190.000000    50.000000  ...     6.000000  2008.000000
75%    2554.500000    70.000000  ...     8.000000  2009.000000
max    2919.000000   190.000000  ...    12.000000  2010.000000

[8 rows x 37 columns]

In [ ]:
df_test.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

df_train = df_train.select_dtypes(include=['number']).interpolate().dropna()
df_test = df_test.select_dtypes(include=['number']).interpolate().dropna()

x_training_data = df_test.drop(['SalePrice','Id'], axis=1)
y_training_data = np.log(df_test.SalePrice)


x_train, x_test, y_train, y_test = train_test_split(x_training_data,y_training_data,random_state = 21, test_size=0.2)


regression = LinearRegression()
regressionr.fit(x_train,y_train)

y_pred = regression.predict(x_test)

In [ ]:
print('Linear Regression R squared": %.4f' % regression.score(x_test, y_test))

Linear Regression R squared": 0.8493

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error
lin = mean_squared_error(np.exp(y_pred), y_test)
lin_r = np.sqrt(lin)
print(lin_r)

195747.2801595339

In [ ]:
results = {"Predicted Prices":np.exp(y_pred),"Actual Prices":np.exp(y_test)}
df_val = pd.DataFrame(results)
df_val["Percentage Difference"] = round(abs((df_val["Predicted Prices"] - df_val["Actual Prices"]) / df_val["Actual Prices"]) * 100,2)
df_val

      Predicted Prices  Actual Prices  Percentage Difference
880      156677.762126       157000.0                   0.21
605      229973.921577       205000.0                  12.18
1166     245358.948864       245350.0                   0.00
216      218109.586021       210000.0                   3.86
970       86909.329260       135000.0                  35.62
...                ...            ...                    ...
218      231419.797074       311500.0                  25.71
1228     311321.804719       367294.0                  15.24
1007      93234.996099        88000.0                   5.95
575      109041.447359       118500.0                   7.98
599      172431.414374       151000.0                  14.19

[292 rows x 3 columns]