<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
a = "HI, I'm Krishna Vikas Meduri"
print(len(a))

28

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [13]:
str0 = input("Enter String: ")
d1 = dict()
for a in str0:
    if a in d1:
        d1[a] = d1[a] + 1
    else:
            d1[a] = 1
print(d1)

Enter String: floccinaucinihilipilification
{'f': 2, 'l': 3, 'o': 2, 'c': 4, 'i': 9, 'n': 3, 'a': 2, 'u': 1, 'h': 1, 'p': 1, 't': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here
mylist=[5,11,4,12,3,13,2,6,8,7]
total=sum(mylist)
print('sum all the items in the list',total)

sum all the items in the list 71

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [12]:
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char(input()))

maximum
maxi$u$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
# write your answer here
a=int(input())
b=int(input())
print(3.14*((1+a/b)**3))

7
7
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
# write your answer here
d1 ={2:36,8:25}
d2={4:46, 7:90}
d3={5:50,6:60},
full = {}
for d in [d1, d2, d3]:
  full.update(d)
print(full)

{2: 36, 8: 25, 4: 46, 7: 90, 5: 6}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [7]:
# write your answer here
Tuple = ("e","4","u","27","k","12")
print("Element present in tuple:")
print("u" in Tuple)
print("4" in Tuple)
print("78" in Tuple)

Element present in tuple:
True
True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [8]:
# write your answer here
Sets = set([3,8,19,100,535,889,776])
print("The max & min values of given set is: ")
print(max(Sets))
print(min(Sets))

The max & min values of given set is:
889
3

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [19]:
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
from itertools import islice
  
  
ls = [4,5,6,4]
  
sl = iter(studnet_list)
Output = [list(islice(sl, elem))
          for elem in ls]


print(Output)

[['vmb0067', 'pc0353', 'snd0097', 'yye0005'], ['sg0940', 'bk0301', 'rak0120', 'rrk0058', 'spk0057'], ['vl0135', 'nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761'], ['rs0850', 'ss1995', 'at0739', 'at0768']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [2]:
# write your answer here
def fduplicate(nums):
    num_set = set()
    no_duplicate = -1

    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return no_duplicate

print(fduplicate([1,7,7,5,4]))
print(fduplicate([1,3,4,2]))
print(fduplicate([1,5,7,9,13,13]))

7
-1
13

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [3]:
# write your answer here
from datetime import date, timedelta

def sundays(year):
       dt = date(year, 1, 1)
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in sundays(1999):
   print(s)

1999-01-03
1999-01-10
1999-01-17
1999-01-24
1999-01-31
1999-02-07
1999-02-14
1999-02-21
1999-02-28
1999-03-07
1999-03-14
1999-03-21
1999-03-28
1999-04-04
1999-04-11
1999-04-18
1999-04-25
1999-05-02
1999-05-09
1999-05-16
1999-05-23
1999-05-30
1999-06-06
1999-06-13
1999-06-20
1999-06-27
1999-07-04
1999-07-11
1999-07-18
1999-07-25
1999-08-01
1999-08-08
1999-08-15
1999-08-22
1999-08-29
1999-09-05
1999-09-12
1999-09-19
1999-09-26
1999-10-03
1999-10-10
1999-10-17
1999-10-24
1999-10-31
1999-11-07
1999-11-14
1999-11-21
1999-11-28
1999-12-05
1999-12-12
1999-12-19
1999-12-26